# Git ignore file, Romain Lafarguette, https://romainlafarguette.github.io/

# Ignore folders
auto/
Cheatsheets/
Misc/

# Ignore specific files
Romain_template.docx
UsersGuide.docx
anniversaires.org
crossref-file.docx
crossref-file.org
ngrams.png
output.docx
pandoc-citeproc.exe
pandoc-crossref.exe
pandoc.exe
romain_bibstyle_zotero.xml
romain_bibstyle_zotero_econometrica.csl
twocolumns.docx
